.potCount-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../../assets/potImg.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 400px;
    min-height: auto;
    height: 400px;
    width: 512px;
    z-index: 1;
}

.potCount-container * {
    margin: 0;
}