.expired-notice {
    text-align: center;
    padding: 2rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    margin: 0.5rem;
}

.expired-notice>span {
    font-size: 2.5rem;
    font-weight: bold;
    color: red;
}

.expired-notice>p {
    font-size: 1.5rem;
}

.show-counter {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-bottom: 1rem;
}

.show-counter div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    justify-content: center;
}


.show-counter span {
    color: #000;
}

.show-counter .countdown-link {
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem;
    border: 1px solid #ebebeb;
    border-radius: 0.25rem;
    text-decoration: none;
    color: #000;
}

.show-counter .countdown {
    line-height: 1.25rem;
    padding: 0 0.75rem 0 0.75rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.show-counter .countdown.danger {
    color: black;
}

.show-counter .countdown>p {
    margin: 0;
}

.show-counter .countdown>span {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
}

@media screen and (max-width: 1200px) {
    .show-counter div {
        margin: 0.1rem;
        font-size: 12px;
        letter-spacing: -1px;
    }
}

@media screen and (max-width: 576px) {
    .show-counter div {
        margin: 0.1rem;
    }
}