.member-wrapper,
.member-wrapper-first,
.member-wrapper-second,
.member-wrapper-third {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    gap: 50px;
    margin: 2px 1rem;
    max-width: 100%;
    width: 1100px;
    height: 102px;
    background: #cb2030;
    border-radius: 15px;
    color: #003470;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    transition-duration: 0.3s;
}

.member-wrapper-first {
    background: #d8b354;
    box-shadow:
        inset 60px 0 120px #d8b354,
        /* left magenta */
        inset -60px 0 120px #FFF;
    /* right cyan */
}

.member-wrapper-second {
    background: #cdcfcf;
    box-shadow:
        inset 60px 0 120px #cdcfcf,
        /* left magenta */
        inset -60px 0 120px #FFF;
    /* right cyan */
}

.member-wrapper-third {
    background: #d58d54;
    box-shadow:
        inset 60px 0 120px #d58d54,
        /* left magenta */
        inset -60px 0 120px #FFF;
    /* right cyan */
}



.member-percent {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 77px;
    background: #FFFFFF;
    border: 5px solid #FFE353;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    transition-duration: 0.3s;
}

.member-image,
.member-image-active {
    display: flex;
    box-sizing: border-box;
    max-width: 82px;
    max-height: 82px;
    background: #BE3838;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition-duration: 0.3s;
}

.member-image-active {
    border: 5px solid #21a828;
}


.member-image-active img,
.member-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}

.member-name {
    max-width: 100%;
    max-height: 100%;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    transition-duration: 0.3s;
}

.member-wrapper:hover,
.member-wrapper-first:hover,
.member-wrapper-second:hover,
.member-wrapper-third:hover {
    background: #FFF;

}

.member-wrapper:hover h1,
.member-wrapper-first:hover h1,
.member-wrapper-second:hover h1,
.member-wrapper-third:hover h1 {
    color: #003470;
}

.placement-img {
    margin: 0 auto;
    width: 80%;
    height: auto;
}


/* Responsive styles for mobile devices */
@media (max-width: 576px) {

    /* Styles for screens less than 576px wide */
    .member-wrapper,
    .member-wrapper-first,
    .member-wrapper-second,
    .member-wrapper-third {
        justify-content: center;
        margin: 0.2px 0.2rem;
        /* padding-left: 0.1px;
        padding-left; */
        max-width: 280px;
        height: auto;
    }

    .placement-img {
        width: 100px;
        height: auto;
    }

    h1 {
        font-size: 12px;
    }

    .member-percent {
        width: 80px;
        height: auto;
    }

    .member-image,
    .member-image-active {
        border-radius: 50%;
        max-width: 70px;
        max-height: 70px;
    }

    /* .member-image-active img,
    .member-image img {
        max-width: 80%;
        max-height: 80%;
        border-radius: 50%;
    } */


}

/* Responsive styles for tablet devices */
@media (min-width: 576px) and (max-width: 768px) {

    /* Styles for screens between 576px and 768px wide */
    .member-wrapper,
    .member-wrapper-first,
    .member-wrapper-second,
    .member-wrapper-third {
        width: 560px;
        height: auto;
    }

    .placement-img {
        width: 100px;
        height: auto;
    }
}

/* Responsive styles for small desktop devices */
@media (min-width: 768px) and (max-width: 992px) {

    /* Styles for screens between 768px and 992px wide */
    .member-wrapper,
    .member-wrapper-first,
    .member-wrapper-second,
    .member-wrapper-third {
        width: 700px;
        height: auto;
    }

    .placement-img {
        width: 100px;
        height: auto;
    }
}

/* Responsive styles for large desktop devices */
@media (min-width: 992px) and (max-width: 1200px) {

    /* Styles for screens between 992px and 1200px wide */
    .member-wrapper,
    .member-wrapper-first,
    .member-wrapper-second,
    .member-wrapper-third {}

    .placement-img {
        width: 100px;
        height: auto;
    }
}

/* Responsive styles for extra-large desktop devices */
@media (min-width: 1200px) {

    /* Styles for screens 1200px wide and up */
    .member-wrapper,
    .member-wrapper-first,
    .member-wrapper-second,
    .member-wrapper-third {
        justify-content: space-around;
    }

    .placement-img {
        width: 100px;
        height: auto;
    }
}