/* App class styles */
.App {
    /* Frame 1 */


    /* Auto layout */

    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

/* .main-wrapper {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url();

    z-index: 0;
} */